*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: black;
}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        to right top,
        #051937,
        #004d7a,
        #008793,
        #a8eb12
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    margin: 30%;
    padding: 5%;
    background-color: rgba(255, 0, 0, 0.104);
    border-radius: 85px;
    box-shadow: 2px 0px 10px  2px #ffffff18;
    height: 70%;
    width: 35%;
    -webkit-border-radius: 85px;
    -moz-border-radius: 85px;
    -ms-border-radius: 85px;
    -o-border-radius: 85px;
}
button{
    cursor: pointer;
    background-color: #bcafc7;
    border-radius: 15px;
    width:45%;
    height: fit-content;
    padding: 10px;
    margin-left: 10px;
    font-size: 2rem;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
 #myBtn1 {
    background-color: #14071e65;
}
 #myBtn1:hover {
    background-color: #10041a7e;
    color: #dcd0e6e4;
}
#myBtn2 {
    background-color: #d0c4d965;
}
#myBtn2:hover {
   background-color: #d0c4d991;
   color: #131214e4;
}

h2{
    padding-top: 14%;
    text-align: center;
    font-size: 2.5rem;
}
.copyCode{
    font-size: 1.4rem;
    cursor: pointer;
    margin-top: 4%;
    padding: 20px;
    background-color: rgba(130, 125, 134, 0.45);
    border-radius: 32px;
    box-shadow: 4px 2px 2px 15x whitesmoke;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}
.copyCode:hover{

    background-color: rgba(239, 217, 217, 0.332);
}